/node_modules
/public/hot
/public/backup
/public/configPanels
/storage/Crons
/storage/app/Comfueg-SLAM
/public/Crons
/public/storage
/log
 public/imgUsuarios
 public/imgUsuarios/photos
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log