.marco-inicial {margin-top: 56px;}
.ocultar {display: none;}
.tercermenu ul { display: flex; list-style-type: none;}
.tercermenu ul li { display: flex; margin: 10px 20px; text-decoration: none;}
.tabla {width: auto;}
.principal { 
    margin-bottom: 65px;
    margin-top: 90px;
    margin-left: 3%; 
    margin-right: 3%; 
}
.container {
    margin-top: 10%;
}
.conFlex {display: flex; align-items: center;}
.margenAbajo {margin-bottom : 0}
.margin-10 {margin-top :10px; margin-bottom: 10px;}
table thead tr th {
    position: stickey;
}